# Run this command to import the variables
# export $(cat .env | grep -v ^# | xargs)

############### Required ENV ###############

INSTAGRAM_ID=
INSTAGRAM_SECRET=
INSTAGRAM_REDIRECT_URI=

LOB_SECRET_API_KEY=
LOB_WEBHOOK_NAME=
LOB_WEBHOOK_PASSWORD=

STRIPE_SECRET_KEY=
STRIPE_API_VERSION=

MAPBOX_API_KEY=


############## Optional ENV ###############

GTM_ID=

BUGSNAG_PUBLIC_KEY=

CLOUDINARY_ENABLED=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback