<% content_for :title, 'Welcome to GramGram!' %>

<h2 style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #706f70;font-size: 18px;line-height: 26px;font-family: Cabin,Avenir,sans-serif;">
  <strong>We&#8217;re happy you're here!</strong>
</h2>
<p style="Margin-top: 16px;Margin-bottom: 20px;">
  Hi there,

  <br/>
  <br/>

  Thanks for signing up for GramGram.
  Don't worry, we won't blast your email every day.
  We will update you when you send some photos!
  Reply to this email if you have any questions for feedback.

  <br/>
  <br/>

  Best,

  <br/>

  The GramGram Team
</p>
