<!-- Header nav with back button -->
<nav class="d-md-none navbar fixed-top navbar-light bg-primary">
  <%= link_to photos_path, class: 'nav-link text-dark' do %>
    Cancel
  <% end %>

  <button type="submit" class="btn btn-dark btn-spinner btn-sm">
    Next
  </button>
</nav>
