<%= form_with method: :patch, url: update_payment_path(@postcard), class: 'bg-light p-4 p-md-5 contact-form payment-form' do |form| %>
  <div class="form-group card-input-group">
    <label class="form-control-label">Credit or Debit Card</label>
    <div class="credit-card-input form-control pt-2">
    </div>
    <div class="invalid-feedback"></div>
  </div>

  <%= hidden_field_tag(:token, '', class: 'stripe-token-input') %>

  <div class="form-group">
    <input type="submit" value="Pay and Send" class="btn btn-primary py-3 px-5">
  </div>

<% end %>
