<button type="submit" class="d-none d-md-block mt-5 mb-2 btn btn-spinner btn-block btn-outline-dark">
  Next
  <span class="iconify ml-1 mb-1" data-icon="ion:arrow-forward" data-inline="false"></span>
</button>
