<div class="fluid-container vh-100">
  <%= form_with model: @postcard, url: update_caption_path(@postcard), local: true do |f| %>

    <!-- Header nav with back button -->
    <nav class="navbar fixed-top navbar-light bg-primary">
      <%= link_to photos_path, class: 'nav-link text-dark' do %>
        Cancel
      <% end %>

      <button type="submit" class="btn btn-dark btn-spinner btn-sm">
        Next
      </button>
    </nav>

    <div class="container py-5">
      <div class="shadow mt-4 p-2">
        <%= image_tag(@postcard.photo.ig_media_url, class: 'img rounded w-100') %>

        <%= f.text_area :caption, class: 'form-control caption-input', maxlength: 200, cols: 30, rows: 7, placeholder: 'Add a caption' %>
      </div>
    </div>
  <% end %>
</div>
