<div class="container pt-5">
  <div class="row justify-content-center mb-5 pt-5 pb-3">
    <div class="col-md-7 heading-section text-center fadeInUp">
      <div class="text-uppercase text-primary mb-3">
        Payment
      </div>
      <h2 class="mb-4">
        Send Your Postcard
      </h2>
      <p class="text-muted">
        Enter your credit card information and click the button. We'll send your photo on its way!
      </p>
    </div>
  </div>

  <div class="row block-9">
    <div class="col-md-5 order-md-last">
      <table class="table w-100">
        <thead>
          <tr>
            <th scope="col">Checkout</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 x Photo @ <%= formatted_price %></td>
            <td><%= formatted_price %></td>
          </tr>
          <tr>
            <td>Tax</td>
            <td>$0.00</td>
          </tr>
          <tr>
            <td>
              <strong>Total</strong>
            </td>
            <td>
              <strong><%= formatted_price %></strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-7">
      <%= render 'payment-form' %>
    </div>
  </div>
</div>
