<% content_for :title, 'Preview Post' %>

<%= render 'shared/navbar' %>

<div class="fluid-container vh-100">
  <%= render 'shared/mobile-nav' do %>
    <%= link_to photos_path, class: 'nav-link text-dark pl-0' do %>
      Cancel
    <% end %>

    <button type="submit" class="btn btn-dark btn-spinner btn-sm">
      Next
    </button>
  <% end %>

  <div class="container skinny-container py-5">
    <p class="pt-4 mb-4">
      Where do you want us to send the&nbsp;photo?
    </p>

    <%= render 'shared/postcard-preview', postcard: @postcard %>
  </div>
</div>
