<div class="fluid-container bg-primary vh-100">
  <!-- Header nav with back button -->
  <nav class="navbar fixed-top navbar-light">
    <a class="navbar-brand" href="/">
      <span class="iconify" data-icon="ion:arrow-back" data-inline="false"></span>
    </a>
  </nav>

  <div class="container skinny-container">
    <div class="py-5 text-center">
      <div class="circle-loader mt-5">
        <div class="success-checkmark checkmark draw"></div>
      </div>

      <h3 class="mt-4">
        Sent!
      </h3>
    </div>

    <%= link_to 'Send Another Photo', photos_path, class: 'mt-5 mb-2 btn btn-block btn-dark' %>
  </div>
</div>
