<div class="fluid-container bg-primary">
  <div class="container pt-5 pb-4">
    <div class="d-flex flow-row mb-md-3">
      <div class="mr-auto">
        <h2 class="mb-0">
          <%= title %>
        </h2>
        <small class="text-muted">
          <%= small %>
        </small>
      </div>

      <div class="ml-auto d-md-none">
        <%= render 'shared/user-dropdown' %>
      </div>
    </div>
  </div>
</div>
