<div class="bg-white w-100">
  <div class="container">
  </div>
</div>

<footer class="footer bg-light pb-5">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-6">
        <% @posts.map do |post| %>
          <%= link_to post.title, post.slug, class: 'text-muted' %>
          <br/>
        <% end %>
      </div>
      <div class="col-md-6">
        <a href="/terms" target="_blank" class="text-muted">
          Terms and Conditions
        </a>
        <br/>
        <a href="/privacy" target="_blank" class="text-muted">
          Privacy Policy
        </a>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-muted">
          © <%= copyright_year %> <%= company_name %>
        </p>
      </div>
    </div>
  </div>
</footer>
