<div class="loading-bar d-none fixed-bottom w-100 px-5 py-4 bg-white">
  <p>Loading your images...</p>

  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
