<nav class="d-none d-md-block navbar navbar-expand-sm bg-primary navbar-light">
  <div class="container">

    <%= link_to 'GramGram', root_path, class: 'navbar-brand' %>

    <ul class="navbar-nav nav ml-auto">
      <li class="nav-item mt-2">
        <%= render 'shared/user-dropdown' %>
      </li>
    </ul>
  </div>
</nav>
