<nav class="navbar navbar-expand-lg fixed-top" id="ftco-navbar">
  <div class="container">

    <%= link_to 'GramGram', root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to photos_path, class: 'nav-link' do %>
              <span>Photos</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
              <span>Log Out</span>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <span>Log In</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
