<div class="postcard-preview shadow">
  <!-- do not put text outside of the safe area -->
  <div class="blur" style="background-image: url(<%= postcard.photo_url %>)"></div>

  <%= image_tag(postcard.photo.ig_media_url) %>
</div>
