<div class="postcard-preview shadow">
  <!-- do not put text outside of the safe area -->
  <div class="blur" style="background-image: url(<%= order.photo_url %>)"></div>

  <%= image_tag(order.photo_url) %>
</div>
