<div class="social-share text-muted">
  <a href="https://www.facebook.com/GramGram-110906980578546" target="_blank">
    <span class="iconify" data-icon="entypo-social:facebook-with-circle" data-inline="false"></span>
  </a>

  <a href="https://twitter.com/gramgram_app" target="_blank">
    <span class="iconify" data-icon="entypo-social:twitter-with-circle" data-inline="false"></span>
  </a>

  <a href="https://www.instagram.com/gramgram.app/" target="_blank">
    <span class="iconify" data-icon="entypo-social:instagram-with-circle" data-inline="false"></span>
  </a>
</div>
