<html>
<head>
<meta charset="UTF-8">
<link href='https://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
<title>Lob.com Thank You 4x6 Postcard Template Back</title>
<style>
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'DragonIsComing';
    font-style: normal;
    font-weight: 400;
    src: url('https://s3-us-west-2.amazonaws.com/public.lob.com/fonts/dragonIsComing/Dragon+is+coming.otf') format('opentype');
  }
  body {
    width: 6.25in;
    height: 4.25in;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  /* do not put text outside of the safe area */
  #safe-area {
    position: absolute;
    width: 5.875in;
    height: 3.875in;
    left: 0.1875in;
    top: 0.1875in;
  }
  #message {
    position: absolute;
    width: 2.2in;
    height: 2in;
    top: 1.4in;
    left: .25in;
    font-family: 'Lato';
    font-weight: 400;
    font-size: .122in;
  }
  #thanks {
    font-family: 'DragonIsComing';
    font-size: 1.3in;
    text-align: center;
    color: white;
    background-color: #a2d1f8;
  }
</style>
</head>

<body>
  <div id="thanks">
    Thank You
  </div>

  <!-- do not put text outside of the safe area -->
  <div id="safe-area">
    <div id="message">
      <span class="accent">Ami Wang,</span>
      <br><br>
      Thank you so much for your donation given on June 17, 2015. You can rest assured that your money is going to a great cause. You will continue to get updates on our status on your WaterHealth dashboard.
      <br><br>
      Thanks again,
      <br><br>
      The WaterHealth Team
      <br>
      www.waterhealth.com
    </div>
  </div>
</body>

</html>
