<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Lob.com Thank You 4x6 Postcard Template Back</title>
    <style>
     *, *:before, *:after {
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
     }

     body {
       width: 6.25in;
       height: 4.25in;
       margin: 0;
       padding: 0;
       background-color: white;
       border: 1px solid black;
       overflow: hidden;
       position: relative;
     }

     .brand {
       font-family: 'Poppins';
       font-weight: 900;
       padding: 10px;
       width: 100%;
       font-size: .75in;
       text-align: center;
     }

     .svg-blob {
       position: absolute;
       top: -2in;
       right: -1in;
       z-index: -1;
     }
    </style>
  </head>

  <body>
    <%= image_tag(image_url('blob-shape-3.svg'), class: 'svg-blob') %>

    <div class="brand">
      GramGram
    </div>
  </body>
</html>
