<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">

    <style>
     *, *:before, *:after {
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
     }

     body {
       margin: 0;
       padding: 0;

       width: 6.25in;
       height: 4.25in;

       border: solid 1px black;
     }

     img {
       height: 3.875in;
       width: 3.875in;

       -ms-transform: rotate(-90deg);
       -webkit-transform: rotate(-90deg);
       transform: rotate(-90deg);

       margin-left: 0.25in;
     }

     .caption {
       width: 3.875in;
       position: absolute;

       -ms-transform: rotate(-90deg);
       -webkit-transform: rotate(-90deg);
       transform: rotate(-90deg);

       top: 1.35in;
       left: 3in;

       font-size: 16px;
       line-height: 20px;
       font-family: 'PT Mono', monospace;
     }

     .safe-area {
       position: absolute;
       width: 5.875in;
       height: 3.875in;
       left: 0.1875in;
       top: 0.1875in;
     }

    </style>
  </head>

  <body>
    <!-- do not put text outside of the safe area -->
    <div class="safe-area">
      <img alt="" src="<%= @photo_url %>" />

      <p class="caption">
        <%= @caption %>
      </p>
    </div>
  </body>
</html>
