<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <style>
     *, *:before, *:after {
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
     }

     body {
       margin: 0;
       padding: 0;

       width: 6.25in;
       height: 4.25in;

       border: solid 1px black;

       font-family: 'Poppins', sans-serif;
     }

     img {
       height: 3.875in;
       width: 3.875in;

       -ms-transform: rotate(-90deg);
       -webkit-transform: rotate(-90deg);
       transform: rotate(-90deg);

       margin-left: 0.25in;
     }

     .caption {
       /* background: purple; */

       width: 3.875in;
       position: absolute;
       bottom: 1.56in;
       left: 3in;

       -ms-transform: rotate(-90deg);
       -webkit-transform: rotate(-90deg);
       transform: rotate(-90deg);

       font-size: 16px;
       line-height: 20px;
       font-family: 'PT Mono', monospace;

       padding: 0 0.1in;
     }

     .safe-area {
       position: absolute;
       width: 5.875in;
       height: 3.875in;
       left: 0.1875in;
       top: 0.1875in;

       /* background: aqua; */
     }

     .date {
       /* background: orange; */

       font-size: 15px;
       color: rgba(0, 0, 0, 0.2);
       text-transform: uppercase;

       -ms-transform: rotate(-90deg);
       -webkit-transform: rotate(-90deg);
       transform: rotate(-90deg);

       width: 3.875in;
       position: absolute;
       bottom: 1.82in;
       left: 2.5in;

       padding: 0 0.1in;
     }
    </style>
  </head>

  <body>
    <!-- do not put text outside of the safe area -->
    <div class="safe-area">
      <img alt="" src="<%= @order.photo_url %>" />

      <div class="date">
        <%= @order.photo.ig_timestamp.strftime('%B %Y') %>
      </div>

      <p class="caption">
        <%= @order.caption %>
      </p>
    </div>
  </body>
</html>
