<% content_for :title, 'Thank you for your order.' %>

<h2 style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #706f70;font-size: 18px;line-height: 26px;font-family: Cabin,Avenir,sans-serif;">
  <strong>Grandma is getting excited!</strong>
</h2>
<p style="Margin-top: 16px;Margin-bottom: 20px;">
  Hi there,

  <br/>
  <br/>

  We received your order and are working hard to send your photo.
  You can check the status of your photo at any point by visiting the link below.
  Thanks for your order! You rock!
</p>

<p style="margin-top: 16px;margin-bottom: 20px;">
  <%= render 'mailer/button', href: order_url(@order), text: 'Check Status' %>
</p>

<p style="Margin-top: 16px;Margin-bottom: 20px;">

  Best,

  <br/>

  Evan from GramGram
</p>
