// Place all the styles related to the postcards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/scss/variables";

// Postcards are 6x4
.postcard-preview {
  width: 100%;
  padding-top: 66.67%;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
  }

  .blur {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
