// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-caption-img {
  width: 400px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  border-radius: 8px;

  transform: rotate(-3deg);
}

.add-address-img {
  width: 400px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  border-radius: 8px;

  transform: rotate(3deg);
}

.mailbox-img {
  width: 400px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  border-radius: 8px;
}
